/* site wide main css here , component styles to be included in react-emotion */

header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
}

header a {
  color: #f2af29;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
